{% extends "base.html" %}

{% block title %}Asignaciones Profesores{% endblock %}

{% block content %}
    <h1>Asignaciones del Profesor - Grados y asignaturas</h1>
     {% if profesor %}
        <p><strong>Profesor:</strong> {{ profesor.names }} ({{ profesor.codeprof }}) </p>


     {% endif %}
        <p>
            <div class="mb-3">
            <label for="gradoSelect" class="form-label"><strong>Director de grado:</strong></label>

            <select id="gradoSelect" class="form-select w-auto d-inline-block">
                <option value="">-- Seleccionar --</option>
                
                {% for n in dirgrado %}
                <option value="{{ url_for('onlylistxalumn2DIR', codegrad=n.codegrad) }}">
                    {{ n.name }} ({{ n.codegrad }})
                </option>
                {% endfor %}
                
            </select>

            </div>
        </p>
    {% if grados %}
        <table class="table table-hover table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>CodeGrad</th>
                <th>Nombre Grado</th>
                <th>Code Materia/add notas</th>
                <th>Asignatura/planilla</th>
                
                
            </tr>
            </thead>
            {% for g in grados %}
            <tr>
                <td>{{ g.codegrad }}</td>
                <td>{{ g.name }}</td>
                <td>
                <a href="{{ url_for('grado', codemate=g.codemate, codeprof=codeprof) }}" class="text-decoration-none">
                    {{ g.codemate }}
                </a>
                </td>
                <td>
                <a href="{{ url_for('onlyeditnotas', codemate=g.codemate, codeprof=codeprof) }}" class="text-decoration-none">
                    {{ g.nombre }}
                </a>
                </td>
                
                
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hay grados asignados a este profesor.</p>
    {% endif %}

<script>
document.getElementById("gradoSelect").addEventListener("change", function() {
    const url = this.value;
    if (url) {
        window.location.href = url;
    }
});
</script>
{% endblock %}