{% extends "base.html" %}

{% block title %}Crea Instituto{% endblock %}

{% block content %}
    <div class="mt-3 mb-3 p-3 bg-light border rounded shadow-sm text-start">
        <h4 class="text-center text-primary mb-3">Superuser</h4>
        usamos este codigo y tabla y se cargan otros datos de empresa, nombre etc
       insert INTO pasreqlog (userid, ramdnum, status,fechareq,scodeemp) values ( '" & userid1 & "', '" & randnum1 & "', '" & status1 & "', '" & fechareq1 & "', '" & scodeemp1 & "'

{% endblock %}